* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pretendard", "Noto Sans KR", sans-serif;
}

/* 타이포 로고 */
.logo img {
  width: 120px;
  height: auto;
}

/* 네비게이션 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    background-color: white;
    border-bottom: 1px solid #eee;
    position: relative;
    z-index: 20;
}

/* 메뉴 전체 */
.menu {
  font: bold 16px "malgun gothic";
}

.menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 48px;
}

/* 개별 메뉴 항목 */
.menu > ul > li {
  position: relative;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #333;
  padding: 20px 0;
  display: inline-block;
}


/* 드롭다운 메뉴 */

.menu > ul > li > ul {
    position: absolute;
    top: calc(100% - 2px);
    left: 50%;
    transform: translateX(-50%);
    display: none;
    margin: 0;
    padding: 24px 32px 32px;
    list-style: none;
    width: 200px; 
    background: #f5f9ff;
    border-radius: 0 0 0 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    font-size: 14px;
}

.menu > ul > li > ul > li {
    padding: 6px 0;
}

.menu > ul > li > ul > li > a {
    text-decoration: none;
    color: #222;
    display: block; 
    white-space: nowrap;
    display: block;
    text-align: center; 
}

/* hover 하면 열림 */
.menu > ul > li:hover > ul {
  display: block;
}

/* 우측 로그인 / 회원가입 */
.auth a {
    color: #666;
    text-decoration: none;
    font-size: 0.9rem;
}


/* ### 서비스 개요 페이지 추가 */
.service-page {
  position: relative;
  background-color: #ffffff;
}

.service-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 64px 24px 120px;
}

.service-header {
  background: #f5f9ff; 
  border: 1px solid #ddd;
  padding: 70px 0;      
  text-align: center;
  border-left: 0;          
  border-right: 0;
}

.service-header h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.service-content p {
  font-size: 15px;
  line-height: 1.8;
  color: #333;
  margin-bottom: 18px;
}

.service-content .service-emphasis {
  margin: 32px 0 16px;
  font-weight: 700;
}

.service-mascot-wrap {
  max-width: 900px;
  margin: -200px auto 5px;
  padding: 0 24px;
  text-align: right;
}

.service-mascot {
  width: 140px;
}

/* ### 팀소개 페이지 추가 */
.team-header {
  background: #f5f9ff; 
  border: 1px solid #ddd;
  padding: 70px 0;      
  text-align: center;
  border-left: 0;          
  border-right: 0;
}

.team-header h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.team-title {
  max-width: 1100px;
  margin: 80px auto 120px;   
  padding: 0 40px;
}

.team-title p {
  font-size: 26px;
  font-weight: 700;
  margin: 30px auto 20px;
}

.team-container {
  max-width: 1100px;
  margin: 80px auto 120px;   
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-align: center;
}

.team-member {
  flex: 1;
}

.member-avatar {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
}

.member-avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.member-name {
  font-weight: 700;
  margin-bottom: 6px;
}

.member-role {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.character-container {
  max-width: 1100px;
  margin: 80px auto 120px;   
  padding: 0 40px;
}

.character-title {
  font-size: 26px;
  font-weight: 700;
  margin: 30px auto 20px;
}

.team-mascot-wrap {
  max-width: 900px;
  margin: 100px auto 0px;
  padding: 0 20px;
  text-align: center;
}

.team-mascot {
  width: 140px;
}

/* ### 공공복지 페이지 추가 */
.welfare-header {
  background: #f5f9ff; 
  border: 1px solid #ddd;
  padding: 70px 0;      
  text-align: center;
  border-left: 0;          
  border-right: 0;
}

.welfare-header h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.welfare-container {
  max-width: 900px;
  margin: 40px auto 0;
  padding: 40px 24px 80px;
}

.welfare-intro {
  font-size: 15px;
  line-height: 1.8;
  color: #333;
  margin-bottom: 32px;
}

.welfare-list {
  list-style: disc;
  padding-left: 20px;
}

.welfare-list li {
  font-size: 15px;
  line-height: 1.8;
  color: #333;
  margin-bottom: 18px;
}

.welfare-list li strong {
  display: block;
  margin-bottom: 4px;
}

.welfare-mascot-wrap {
  max-width: 900px;
  margin: -150px auto 5px;
  padding: 0 24px;
  text-align: right;
}

.welfare-mascot {
  width: 140px;
}

/* ### 자료실 페이지 추가 */
.library-header {
  background: #f5f9ff; 
  border: 1px solid #ddd;
  padding: 70px 0;      
  text-align: center;
  border-left: 0;          
  border-right: 0;
}

.library-header h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.library-layout {
  max-width: 1100px;
  margin: 0 auto 80px;
  display: flex;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

/* 왼쪽 사이드 */
.library-side {
  width: 250px;
  padding: 40px 24px;
  border-right: 1px solid #f0f0f0;
  font-size: 14px;
  color: #999;
  line-height: 1.8;
}

/* 공공, 민간 필터 버튼 */
.library-filter {
  border: none;
  background: transparent;
  text-align: left;
  padding: 10px 8px;
  font-size: 14px;
  color: #999;
  cursor: pointer;
}

/* 선택된 상태 */
.library-filter.active {
  color: #222;
  background: #ffffff;
}

/* 복지 정보 테이블 */
.library-content {
  flex: 1;
  padding: 40px 32px;
}

.library-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.library-table th,
.library-table td {
  padding: 14px 8px;
  font-size: 15px;
  text-align: left;
  border-bottom: 1px solid #f3f3f3;
}

.library-table th {
  font-weight: 600;
  color: #555;
}

.library-table td {
  color: #333;
}

/* Hero 슬라이더 */

.hero-wrapper {
  width: 100%;
  background: #ffffff;
  padding: 60px 40px;
}

.hero-slider {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-container {
  display: flex;             
  transition: transform 0.4s ease;
}


.slide {
  min-width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

/* ★ 슬라이드 내용 컨테이너  */
.slide-content {
  position: relative;
  width: 100%;
  height: 480px; 
  max-width: 1000px; 
  margin: 0 auto;
  border-radius: 24px; 
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

/* ★ 1번 슬라이드: banner_1.png 설정 */
.slide-1 .slide-content { 
    background-image: url('../images/banner_1.png'); 
}

/* ★ 2번 슬라이드: banner_2.png 설정 */
.slide-2 .slide-content { 
    background-image: url('../images/banner_2.png');
}

/* ★ 3번 슬라이드: banner_3.png 설정 */
.slide-3 .slide-content { 
    background-image: url('../images/banner_3.png');
}

/* ### 바로가기 아이콘 */
.icon {
  max-width: 960px;
  margin: 40px auto 80px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.icon-btn {
  text-decoration: none;
  color: #79A0DF;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.icon-box {
  width: 72px;
  height: 72px;
  border-radius: 16px;
  border: 0px;
  background-color: #f5f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* 주요 기능 섹션 */
.feature-section {
    text-align: center;
    padding: 80px 20px; 
    background-color: #f5f9ff; 
}

/* 추가: 섹션 제목 스타일 */
.feature-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 40px;
    color: #333;
}

/* 카드 컨테이너: 중앙 정렬 */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

/* 카드 자체 스타일 (a 태그로 변경) */
.feature-card {
    text-decoration: none;
    width: 380px;
    min-height: 200px;
    padding: 30px;
    background-color: white; 
    border-radius: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

.feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 8px;
}

.card-desc {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 24px;
}

.card-link {
    font-size: 14px;
    font-weight: 700;
    color: #79A0DF; 
    align-self: flex-end; 
}

.feature-remark { 
    color: #555;
    line-height: 1.6;
    font-size: 0.95rem;
    font-weight: 500;
}

/* NOTICE 섹션 */
.notice-section {
    padding: 60px 20px 80px; 
    text-align: center;
    background-color: white;
}

.notice-title {
    font-size: 26px;
    font-weight: 600;
    color: #79A0DF;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.notice-subtitle {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 60px;
}

/* ★ 좌우 스크롤 컨테이너 */
.notice-scroll-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 0; 
    max-width: 1000px;
    margin: 0 auto;
    
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.notice-scroll-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


/* ★ NOTICE 카드 스타일 */
.notice-card {
    max-width: 300px;
    height: 300px;
    background-color: #fafafa;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 24px;
    text-align: left;
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notice-card:hover {
    border-color: #79A0DF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card-heading {
    font-size: 17px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    font-size: 15px;
    color: #666;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-date {
    font-size: 12px;
    color: #aaa;
    align-self: flex-end;
}

/* 이용 가이드 카드 (마지막 카드 디자인 변경) */
.guide-card {
    background-color: #79A0DF;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

.guide-card:hover {
    border-color: #5c8ae8;
}

.guide-text {
    font-weight: 700;
    font-size: 20px;
    color: white;
    margin-bottom: 12px;
    -webkit-line-clamp: unset; 
}

.guide-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

/* 푸터 */
.footer {
    text-align: center;
    color: #aaa;
    padding: 30px 0;
    font-size: 0.9rem;
    border-top: 1px solid #eee;
}

/* 푸터 위 가로 배너 섹션 */

.bottom-banner-section {
    width: 100%;
    padding: 60px 20px; 
    text-align: center;
    background-color: white; 
}

.bottom-banner-image {
    max-width: 1000px; 
    margin: 0 auto; /* 중앙 정렬 */
    border-radius: 12px; 
    overflow: hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
}

.bottom-banner-image img {
    width: 100%;
    height: auto;
    display: block; 
}

/* 로그인 페이지 스타일 */
.login-page-container {
    position: relative;
    width: 100%;
    max-width: 440px; 
    padding: 60px 0;
    text-align: center;
    margin: 40px 0; 
}

/* 뒤로 가기 버튼 스타일 */
.back-btn {
    position: absolute;
    top: 25px;
    left: 25px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

/* 제목 스타일 */
.login-page-container h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 40px;
}

/* 입력 필드 */
.login-page-container input {
    width: 100%;
    padding: 14px; 
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

/* 로그인 버튼  */
.login-page-container .login-btn {
    width: 100%;
    padding: 14px;
    background: #111;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.2s;
}

.login-page-container .login-btn:hover {
    background: #333;
}

/* 링크 스타일 */
.login-page-container .login-links {
    font-size: 14px;
    color: #666;
    margin-top: 15px;
}

/* SNS 구분선 및 텍스트 */
.login-page-container hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 40px 0 30px;
}
.sns-login-text {
    font-size: 13px;
    color: #777;
    position: relative;
    top: -15px;
    background: #fff;
    display: inline-block;
    padding: 0 10px;
}

/* 카카오 버튼 */
.login-page-container .kakao {
    background: #FEE500;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    color: #3A1D1D;
    margin-top: 0;
    cursor: pointer;
    font-size: 15px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 25px 0;
}
